name: Publish

# Controls when the workflow will run
on:
  # Triggers the workflow on push
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
permissions: 
  contents: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: Create zip file
        run: zip "cem-opticompat-pack-v$GITHUB_RUN_NUMBER.zip" ./*
        
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: "cem-opticompat-pack-*.zip"
          tag_name: "v${{ github.run_number }}"
